.white_container{
    background-color: white;
    border-radius: 5px;
    margin: 1vh;
    padding: 3vh;
}

.white_container_list{
    background-color: white;
    border-radius: 5px;
    margin: 1vh;
    padding: 3vh;
}

.white_container_list:hover{
    cursor: pointer;
}

.white_container_collapse{
    background-color: white;
    border-radius: 5px;
    margin-left: 1vh;
    margin-right: 1vh;
    padding: 3vh;
}

.createAccountInputMobile{
    margin-bottom: 2vh;
}

.account_selection{
    margin: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #313131;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #df4242;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }