.white_container{
    background-color: white;
    border-radius: 5px;
    margin: 1vh;
    padding: 3vh;
}

.white_container_list{
    background-color: white;
    border-radius: 5px;
    margin: 1vh;
    padding: 3vh;
}

.white_container_list:hover{
    cursor: pointer;
}

.white_container_collapse{
    background-color: white;
    border-radius: 5px;
    margin-left: 1vh;
    margin-right: 1vh;
    padding: 3vh;
}

.createAccountInputMobile{
    margin-bottom: 2vh;
}

.account_selection{
    margin: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.back_button:hover{
  cursor: pointer;
}

.modal_label{
    margin: 0;
    margin-top: 1vh;
}